.page {
  background-color: #f2f3f5;
  font-family: "Raleway", sans-serif;
}

h2,
p {
  font-family: "Cabin", sans-serif;
}

.btn-primary {
  background-color: "#A43716" !important;
}
.product-img {
  display: flex;
  justify-content: flex-end;
}

.page-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

input {
  margin-left: 5px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dadada;
}

.cart {
  margin-right: 40px;
  cursor: pointer;
}
.logo {
  margin-left: 30px;
}

.menu-area {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dadada;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu-list {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.menu-list li {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.logistics {
  display: flex;
  justify-content: space-between;
}
