h2,
p,
button {
  font-family: "Cabin", sans-serif;
}

input {
  margin-left: 5px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

.card {
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-icon-container {
  display: flex;
  width: 35%;
  justify-content: space-between;
  padding-top: 12px;
  margin-bottom: 12px;
}

.cart {
  margin-right: 40px;
  cursor: pointer;
}

.detail-page {
  padding-top: 50px;
}

.logistics {
  display: flex;
  justify-content: space-between;
}

.login {
  margin-top: 50px;
  padding: 10px;
}
.logo {
  margin-left: 30px;
}

.menu-area {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dadada;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  color: black;
}

.menu-list li {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.menu-list li a {
  text-decoration: none;
  color: black;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dadada;
}

.page {
  background-color: #f2f3f5;
  font-family: "Raleway", sans-serif;
}

.page-header {
  padding-top: 50px;
  padding-bottom: 30px;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
